<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
  <body>
    <div class="actions">
      <h2>Management</h2>
      <a href="/admin/users" class="btn">Manage Users</a>
      <a href="/admin/flights" class="btn">Manage Flights</a>
    </div>

    <!-- Reports -->
    <div class="actions">
      <h2>Reports</h2>
      <a href="/admin/reports/bookings" class="btn">Bookings Report</a>
      <a href="/admin/reports/flights" class="btn">Flights Report</a>
      <a href="/admin/reports/users" class="btn">Users Activity Report</a>
    </div>

    <!-- System monitoring -->
    <div class="actions">
      <h2>System</h2>
      <a href="/admin/logs" class="btn">System Logs</a>
    </div>

    <!-- Settings -->
    <div class="actions">
      <h2>Settings</h2>
      <a href="/admin/settings" class="btn">Application Settings</a>
    </div>
  </body>
</html>