<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Flight</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
  <h1>Edit Flight</h1>

  <form th:action="@{/admin/flights/edit/{id}(id=${flight.flightId})}"
        th:object="${flight}"
        method="post">

    <label>Flight No:</label>
    <input type="text" th:field="*{flightNo}" required/><br/>

    <label>Departure Time:</label>
    <input type="datetime-local" th:field="*{scheduledDeparture}" required/><br/>

    <label>Arrival Time:</label>
    <input type="datetime-local" th:field="*{scheduledArrival}" required/><br/>

    <label>From:</label>
    <input type="text" th:field="*{departureAirport}" required/><br/>

    <label>To:</label>
    <input type="text" th:field="*{arrivalAirport}" required/><br/>

    <label>Status:</label>
    <input type="text" th:field="*{status}" required/><br/>

    <label>Aircraft Code:</label>
    <input type="text" th:field="*{aircraftCode}" required/><br/>

    <button type="submit" class="btn">Update</button>
  </form>

  <a href="/admin/flights" class="btn">Back</a>
</div>
</body>
</html>