<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Manage Users</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
  <body>
    <div class="container">
      <h1>Manage Users</h1>

      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user, iterStat : ${users}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${user}"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <a href="/admin/dashboard" class="btn">Back to Dashboard</a>
    </div>
  </body>
</html>