<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Cabinet</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

  <header class="header">
    <h1>👤 User Cabinet</h1>
    <div class="actions">
      <form th:action="@{/user/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
    </div>
  </header>

  <h2>
    Welcome,
    <span th:text="${fullName}">User</span>
  </h2>

  <div class="table-wrapper">

    <table>

      <thead>
      <tr>
        <th>Ticket No</th>
        <th>Booking Ref</th>
        <th>Passenger</th>
        <th>Contact data</th>
      </tr>
      </thead>

      <tbody>

      <tr th:if="${#lists.isEmpty(tickets)}">
        <td colspan="4" class="empty-message">
          You don't have any tickets.
        </td>
      </tr>

      <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.ticketNo}"></td>
        <td th:text="${ticket.booking.bookRef}"></td>
        <td th:text="${ticket.passengerName}"></td>
        <td th:text="${ticket.contactData}"></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</body>
</html>
