<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Airports</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
  <body>
    <div class="container">
      <header><h1>Airports</h1></header>

      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>City</th>
            <th>Timezone</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="airport : ${airports}">
            <td th:text="${airport.code}"></td>
            <td th:text="${airport.name}"></td>
            <td th:text="${airport.city}"></td>
            <td th:text="${airport.timezone}"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-edit" th:onclick="'location.href=\'' + @{/} + '\'" >
        To Main Page
      </button>

      <footer>&copy; 2025 Airport System</footer>
    </div>
  </body>
</html>