<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <body>
        <div class="container">
            <header><h1>All Flights</h1></header>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Flight No</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Scheduled Departure</th>
                        <th>Scheduled Arrival</th>
                        <th>Status</th>
                        <th>Aircraft</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="flight : ${flights}">
                        <td th:text="${flight.flightNo}"></td>
                        <td th:text="${flight.departureAirport}"></td>
                        <td th:text="${flight.arrivalAirport}"></td>
                        <td th:text="${flight.scheduledDeparture}"></td>
                        <td th:text="${flight.scheduledArrival}"></td>
                        <td th:text="${flight.status}"></td>
                        <td th:text="${flight.aircraftCode}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button class="btn btn-add" th:onclick="'location.href=\'' + @{/flights/new} + '\'" >Add Flight</button>
            <button class="btn btn-edit" th:onclick="'location.href=\'' + @{/} + '\'" >Back to Main Page</button>

            <footer>&copy; 2025 Airport System</footer>
        </div>
    </body>
</html>