<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Server main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <body>
        <div class="container">
            <header>
                <h1>Welcome to Airport System</h1>
            </header>

            <div class="button-group">
                <button class="btn btn-add"
                        th:onclick="|location.href='@{/airports}'|">
                    View Airports
                </button>

                <button class="btn btn-edit"
                        th:onclick="|location.href='@{/filters}'|">
                    View Flights
                </button>

                <button class="btn btn-delete"
                        th:onclick="|location.href='@{/admin}'|">
                    Admin Login
                </button>
            </div>

            <footer>&copy; 2025 Airport System</footer>
        </div>
    </body>
</html>